@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

.body {
    margin: 0;
}

.header {
    display: flex;
    justify-content: space-between;
    position: fixed;
    width: 100%;
    color: white;
    backdrop-filter: blur(64px);
    background: #00000005;
    align-items: center;
    z-index: 20;
}

.ul {
    display: flex;
    gap: 20px;
    list-style: none;
}

.a {
    color: white;
    text-decoration: none;
}

.a1 {
    color: #ffff;
}

.a2 {
    font-size: 12px;
    font-weight: 400;
    line-height: 18px;
    color: #ffff;
}

.a3 {
    color: black;
    font-size: 12px;
    font-weight: 400;
    line-height: 18px;
}

.a4 {
    color: white;
    text-decoration: none;
    font-size: 11.81px;
    font-weight: 400;
    line-height: 20px;
}

.a5 {
    color: white;
    text-decoration: none;
    font-size: 12px;
    font-weight: 400;
    line-height: 20px;
}

.section-1 {
    height: 100vh;
    background-size: cover;
    background-image: url(https://s3-alpha-sig.figma.com/img/6d7a/23be/cb6af393851dc03dd35d09417c2ceadd?Expires=1733702400&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4&Signature=A2N1EiDXM78oEnfcqRNcU562vlI74OmHRzJ6gdG0lwT6TONFSwasuBvISCW4CD~kO71En3Ubpl1G4IIWdvUKZwOdr60YwxbPTilUKhYChQJHuwDuGsziQGRFYx3OEN4csRQlfOXYPlmjwG0DH0Eb4EJ6RiB4OeuFtLPrHAOhUt4tIjMbo9~sCF58KaDK0rs0yIM-BEa9eeudJ8bFsWMttKRi7d3pwB2~4mejediSzRuOMWpZL5y37KfgSo7KZ6-ssyfO-My6qJQrwon7D~wwzTDbn45qxHhqL8bOK8ezuEtTms7QTrO4I5kT7-8gxp0SBhk31iPD0ipPkvKoYEoTjw__);
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.div1 {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100vh;
}

.div2 {
    text-align: center;
    color: white;
}

.div3 {
    margin-top: 0;
    text-align: center;
    color: white;
}

.div4 {
    text-align: center;
    color: black;
    padding-top: 128px;
}

.div5 {
    margin-top: 0;
    padding-top: 50vh;
    text-align: center;
    color: white;
}

.div6 {
    text-align: center;
    margin: 0;
    padding-top: 50vh;
}

.div7 {
    padding-top: 80vh;
    margin: 0;
    text-align: center;
}

.div8 {
    position: absolute;
    top: 128px;
    color: white;
    font-size: 40px;
    font-weight: 500;
    line-height: 48px;
}

.div9 {
    text-align: center;
    color: white;
    padding-top: 128px;
}

.div10 {
    text-align: center;
    padding-bottom: 70px;
}

.div11 {
    display: flex;
    justify-content: center;
    height: 100px;
}

.h1 {
    font-size: 40px;
    font-weight: 500;
    line-height: 48px;
    margin: 0;
    padding-top: 50px;
}

.h2 {
    font-size: 40px;
    font-weight: 500;
    line-height: 48px;
    margin: 0;
}

.p1 {
    font-size: 20px;
    font-weight: 500;
    line-height: 20px;
    margin: 0;
    padding-top: 6;
    padding-left: 50.6;
    padding-right: 50.6;
    padding-bottom: 36;
}

.p2 {
    font-size: 12px;
    font-weight: 500;
    line-height: 20px;
    padding-top: 2px;
    padding-bottom: 50.5px;
    margin: 0
}

.p3 {
    font-size: 20px;
    font-weight: 500;
    line-height: 20px;
    margin: 0;
    padding-top: 6;
    padding-left: 50.6;
    padding-right: 50.6;
    padding-bottom: 36;
}

.p4 {
    color: white;
    font-size: 12px;
    font-weight: 400;
    line-height: 18px;
}

.p5 {
    font-size: 12px;
    font-weight: 400;
    line-height: 18px;
}

.p6 {
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    margin: 0;
}



.but {
    font-weight: 500;
    font-size: 14px;
    line-height: 18px;
    padding: 11px 40px;
    border-radius: 4px;
    background: #F4F4F4CC;
    border: 0;
    backdrop-filter: blur(8px);
    width: 264px;
    margin-right: 12px;
    height: 42px;
}

.but2 {
    font-weight: 500;
    font-size: 14px;
    line-height: 18px;
    padding: 11px 40px;
    border-radius: 4px;
    border: 0;
    background: #171A20A6;
    backdrop-filter: blur(8px);
    margin-left: 12px;
    width: 264px;
    color: white;
    height: 42px;
}

.but3 {
    font-size: 14px;
    font-weight: 500;
    line-height: 18px;
    color: black;
    background-color: #FFFFFF;
    backdrop-filter: blur(8px);
    border: 0;
    border-radius: 4px;
    padding: 11px 40px;
    width: 184px;
    margin-right: 16px;
}

.section-2 {
    height: 100vh;
    background-size: cover;
    background-image: url(https://s3-alpha-sig.figma.com/img/d6e6/6c6b/c7b9a89b28e7054d63200682392b3184?Expires=1733702400&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4&Signature=Q33xQ4HwTUIREWfEYMgM1StBCZl1pSngxF93uztCgbw8MF3FiQIzBPd4tTNJADm5pgNgFNf3H97ebZFVHpBz1K3uv8PBv6sq~p8tjTLXiaeUZDC3e~lZ3z2tJPQsbxq6XZdR5JlJwdVOhxwpnasw2XAmLZA8znqy9U2J3qnB8le9uSLx7p5lW~zBNlrskoINi8RWqFhF0cTAZH6pqhNMz14OFIM5JMACaznCT-L9BwDw4btJFDaCDFi8VvfBuG-o~pJ~EFyAUHiD2JCSfYOBQaxRV8cM2GVYOjPLyVf3Fb2gYGQOXoKPzB2Ysich1byC0rQmtF0Er3Bmq26c5g5Mpg__)
}

.section-3 {
    height: 100vh;
    background-size: cover;
    background-image: url(https://s3-alpha-sig.figma.com/img/7348/b3e8/d0d912a18fa6ec4f1888f100bc845c36?Expires=1733702400&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4&Signature=O0Q2WJyvhEWHF9dHWYuPpTMKXyR9I6153caEskgEmUALqAiCmkG-GDjAVcUTYPlvrqeUm1ORgjHEJb3pNnGiZX8~CoHeae1b1ZAg~-AMfTlUpazI3fhREooY9~38eTqU7z8o8qt5hI-WCYBj4nuxxlbaelXple4yDCOufd~oU9-9xAOy6I6W2MdMLx75PnBuWbv1QWfDaXz2-0OqUk1~o7VM71CHvHcjTEW7abv4PT2m84MRw-4UKoNCYgXC-iOWVa8niqsur8QeS-8SEhx6PsGt4552DiWtyZ7NhOwNrdXevC0IGulNRCg-T6fU2kimw8fIo3TCKJtKeBa60UMtQg__);
}

.section-4 {
    background-size: cover;
    height: 100vh;
    background-image: url(https://s3-alpha-sig.figma.com/img/8520/0e04/bd6a0fdc156a53b211754b905057b7df?Expires=1733702400&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4&Signature=cgTzEYRfp6CWNlvuE9sgBpkUbzjDURrZxm9wOopqZWxc2mcWQXbZNKi0CfUcFLRMEPug22-G1ZAeS6Pyd2OziTnz0srv1j-FEYXdi9NY6-JkfHTipzQXeO3iG~lYVuTHT~XjSR2shjWFZuCZSSX517YIoa~iodAA7Tp6J8xoRnGWv1wUiFcW-vmJx3g~Czv3TdHexk5JbqUyV8ohwS1ETtE5L-HVwhehygAf0Z5MY0fJ-6irynKOAniU8gKBR1fUSH2J8p7~ZmqTSPyF683LCpsXtnTbkkigIiOCJwG-Rl5rKA7RbwVDb6cSCNJOY595NpGXwbBgxDqOArMM0IyBRw__);
}

.section-5 {
    height: 100vh;
    background-size: cover;
    background-image: url(https://s3-alpha-sig.figma.com/img/76d8/53f4/a13f230d90c69b3806b4b679cf16c9ed?Expires=1733702400&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4&Signature=NLHZqTBCODF9JA3XEqP6HKXRH1flJccrtItRcZnatKta~WMFV9MiesLCCBYWxnZBjtf42OG-hALgofxlVOizzCbz1x5ROGG5Txjlz7N9ct84uAU5CnqHrrZEkquvpog4psF6JE0WLXXE18GxxOJ1RehYKg5TG0vXRw449~kGC5fdMlPwCa9G~daryQ36AC1vwB-JfQDmles-S1Ad94MT-~9R5un9wtQkGD2Eh~suitMd-whq21zpZNbO6tbEoTN6QCQ8K73joQh2-hZsUMnmfeSZRyXC-X8fQ3ha5DFkEJOPmSgG8iPKcqGvkhHzzlyFA~QtkPlud4M0XI15UEMwdA__);
}

.section-6 {
    height: 100vh;
    background-size: cover;
    position: relative;
    text-align: center;
    display: flex;
    justify-content: center;
    width: 100%;
    height: 100vh;
    background-color: black;
}

.section-7 {
    height: 100vh;
    background-size: cover;
    background-image: url(https://s3-alpha-sig.figma.com/img/63f9/ae84/a09b8cb46f83a23604fb332cca93df72?Expires=1733702400&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4&Signature=V3zzK-PkiOtpxXjiuyR6JuTdrvkP21UdqK9ZYWSqjfr03lDfTvwU9SuEhhLkmUMGKd6WjLZxCguEQk3oPiRSUimqIes~ACLrxZQGlbgbCKWjtE-ahPr1euepx5EIMOmHNNNtXpYoKOhqM~ppUmrplf70HRWOLOo23DY54KXslBLD8z7arpNvRr3bdeo4Y-WQ3uJ6Zp6k4pfGPQAEqOMynYRn07KkMKCwLUFwNkpxK34V~Z7iJyd~M3TOfX5zDNjYN191eA2itKeh~GNiiRiyMpzfsgfm5M~y7OpXPBKvYsCSqJPvtGVP9sAjUWSxwBpzLjJByk8XYQwPiNdLhhxPoA__);
}

.section-8 {
    height: 100vh;
    background-size: cover;
    background-image: url(https://s3-alpha-sig.figma.com/img/a8f7/e0ef/c1749c353ea58a621c8c633b3efef56e?Expires=1733702400&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4&Signature=OuPqMHw7afAamZA-StzbO-nSG19XmE3yWjevoGM9EhDZIWzJt0972gckbcjav4uqeynjHEG~pb2rj6q5dQNhgF7CMY-FuoGoWudh0eQmOwliMMJGk~PAGtMItlMbbQRq~lG5MnOb4tQE-86qUUy4X6P00i8-SGwi4jZUjPc6ts6f2kYGHne1h9dRMVxx~HPHGYpx1widXXWrBLWr-MshSSiyQeJbps~VTIxugLMF8B0ffocyDokyxf9oMsuW2dZCB6wvmu7M3PJ3aOOz41mOLLKYPvMUk2ElwzCGoiZO9oTgeXthiDb5Mb72OO5VD0moRLXl14-SGn3f6UGNsjPL-w__);
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

.section-9 {
    height: 100vh;
    background-size: cover;
    background-image: url(https://s3-alpha-sig.figma.com/img/ee62/a6cb/442a5b4ec8bdd443fc0054bf3f323778?Expires=1733702400&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4&Signature=Yp0RS~fzepVtH8-Ndz0rgbD~I52KK74lRjtvkhpVAzIk06gkTHbuInXhmJ6IvKSArtsI6c4EbiSRWRTsPH37XhDXCoaxNbPU4YLGuuNJd88UbkWYkvoesAVDAm7T4vCX~lSJ1qNx4gSrWSqh9DPllCBq-sqVOsI0N8Yi6nM-Dd~tBDoTziGVyZYBNwiBAIV5cnt7WXC3poDPAXpjQPpSIG6DDqD3ftZ6lt4ZH2zBKHTUNcTEbuZifOF22ZUrdvJkJvYxCrvZCypPr1j0SmlC0fJqoEcRmuxcm0~3t9qfWucajc46QuzsLIDgE-OWtSbCgjarYohXahtRk6xv922~Wg__);
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

.section-10 {
    height: 100vh;
    background-size: cover;
    background-image: url(https://s3-alpha-sig.figma.com/img/2854/a383/afb989857277aee6919710d8754a76f2?Expires=1733702400&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4&Signature=iL8-E0UIzvjHHlXEzDfsF~U4wQN5SXiF0qkBKFk9Fo3pQQreGLhm5N30kZjppwrHQHmol1Az0sI-zh70iBULygWcIC~r54iYUFmOB2xYErTSqpE6kZZ6CeipIBC1ku9CUGAccdFCVBPLV6SQA9Mpwa5ygDmJfM3NuhUfPKrWqfikf5BJ1XNcifvlhwDcZx3b~t8SlpGHhWYXnwekReynN2zh5zlgbP6iMNAiPr1w-zD4ihtvbepnpuz7M4TJiwEyZIl6kk5~lwp~KEUnwjMsGQaCbpl29ZuHV2mPB3IC8t-yAA9piJ9ZjQ55eGvZauKj7cEcTjzjK5WvPffOPKBDBw__);
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}